table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid green;
    font-size: 20px;
  }
  
  thead th:nth-child(1) {
    width: 50%;
  }
  
  thead th:nth-child(2) {
    width: 50%;
  }
  
  th, td {
    padding: 20px;
  }
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }