<template>
  <div class="hello" id="helll">
    <table class="mytable" id="particle">
  <thead>
    <tr>
      <th>Channel (μm)</th>
      <th>&Delta; (/m³)</th>
    </tr>
  </thead>
  <tr>
    <th>0.3</th>
    <td v-if="particleData">{{particleData.a}}</td>
  </tr>
  <tr>
    <th>0.5</th>
    <td v-if="particleData">{{particleData.b}}</td>
  </tr>
  <tr>
    <th>1.0</th>
    <td v-if="particleData">{{particleData.c}}</td>
  </tr>
</table>
<button v-on:click="pdfgen">Generate PDF</button>
<div>
<img id="setra" ref="setra" src='/static/Setra Logo Blue - WEB.jpg' />
</div>
  </div>
</template>

<script>
let particleData = {}
export default {
  name: 'HelloWorld',
  data () {
    return {
      particleData,
      polling: null
    }
  },
  methods: {
    pollData () {
      this.polling = setInterval(() => {
        fetch('http://localhost:3000')
          .then((res) => res.json())
          .then((particleData) => {
            this.particleData = particleData
            console.log(particleData.a)
          })
      }, 3000)
    },
    pdfgen: function () {
      var pdfMake = require('pdfmake/build/pdfmake.js')
      if (pdfMake.vfs === undefined) {
        var pdfFonts = require('pdfmake/build/vfs_fonts.js')
        pdfMake.vfs = pdfFonts.pdfMake.vf
      }
      var docDefinition = { content: [
        {
          image: 'data:image/jpeg;base64,' + this.getBase64Image(this.$refs.setra),
          height: 150,
          width: 200
        }
      ]
      }
      pdfMake.createPdf(docDefinition).download('optionalName.pdf')
    },
    getBase64Image (img) {
      var canvas = document.createElement('canvas')
      canvas.width = img.width
      canvas.height = img.height
      var ctx = canvas.getContext('2d')
      ctx.drawImage(img, 0, 0)
      var dataURL = canvas.toDataURL('image/png')
      return dataURL.replace(/^data:image\/(png|jpg);base64,/, '')
    }
  },
  created () {
    this.pollData()
  },
  mounted () {
    var ret = this.getBase64Image(this.$refs.setra)
    console.log(ret)
    console.log(this.$refs.setra.src)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid green;
    font-size: 20px;
  }
  thead th:nth-child(1) {
    width: 50%;
  }
  thead th:nth-child(2) {
    width: 50%;
  }
  th, td {
    padding: 20px;
  }
  td {
    letter-spacing: 1px;
  }
  tbody td {
    text-align: center;
  }
  tfoot th {
    text-align: right;
  }
</style>
